.note-window {
  padding-left: 1rem;
  padding-bottom: 3rem;
  overflow-y: scroll;
  height: 100%;
  font-size: 1.1rem;

  pre {
    background-color: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    width: 0 !important;
    height: 0 !important;
  }
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
